@media only screen and (max-width: 1800px) {
  body {
    overflow-x: hidden;
  }

  .hero {
    width: 85%;

  }


  .about {
    width: 95%;
    padding: 50px 30px;
  }


}

@media only screen and (max-width: 1025px) {

  .headerContent {
    width: 80%;
    padding: 5px 100px;

  }

  .navContainer {
    margin-left: 80px;
  }

  nav ul {
    width: 90%;

  }

  nav ul li {
    margin-left: 30px;
  }

  nav ul li a {
    font-weight: 400;
    font-size: 1.5rem;
  }

  .logo h1 {
    font-size: 1.7rem;
  }


  .hero {
    width: 95%;
  }

  .intro {
    text-align: left;
    width: 80%;
  }


  .text>.greetings>h1 {
    color: #2400FF;
    font-size: 1.8rem;
  }




  .textChangeContainer {
    height: 50px;
  }

  .textChangeContainer>h3 {
    font-size: 1.5rem;
  }

  .btn-hire,
  .btn-cv {
    display: inline-block;
    padding: 8px 18px;
    margin: 8px;
    margin-left: 0px;
  }

  .profile-pic img {
    width: 220px;
    height: 350px;
  }

  .ring {
    position: relative;
    width: 350px;
    height: 400px;
  }

  .ring i {
    border: 2.5px solid #524e4e;
    transition: 0.5s;
  }

  .ring:hover i {
    border: 3px solid var(--clr);
  }

  .aboutPic img {
    width: 250px;
    height: 350px;
  }


  .aboutContainer {
    max-width: 90%;
    margin-left: 10px;
    padding: 0px 10px 10px 10px;
  }

  .about-text p {
    text-align: left;
    font-size: 1rem;
  }

  .dropContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .dropContainer h3 {
    font-size: 1rem;
    text-align: center;
  }

  .aboutBtnContent {
    width: 100%;
    height: 400px;
    border-radius: 50px;
  }

  .aboutBtn {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .aboutTablink {
    color: black;
    padding: 8px 8px;
    font-size: 15px;
    width: auto;
  }

  .tabcontent {
    height: 100%;
    padding: 10px 20px;
  }

  .technologies {
    width: 100%;
    height: 100px;
    margin: 80px 0px;
  }

  .technologies .Ticon {
    font-size: 2.5rem;
  }


  .portfolio {
    max-width: 90%;
    padding: 10px;

  }

  .PortfolioBtn {
    border: 2px solid #000000;
  }


  .card {
    margin: 15px;
  }

}

@media only screen and (max-width: 991.98px) {
  body {
    font-size: 1rem;
  }

  .headerContent {
    width: 90%;
    padding: 5px 20px;

  }

  nav ul li a {
    font-weight: 400;
    font-size: 1.2rem;
  }




  .logo h1 {
    font-size: 1.5rem;
  }


  .hero {
    width: 90%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 180px;
  }

  .intro {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  .text>.greetings {
    width: 90%;
  }


  .text>.greetings>h1 {
    font-size: 1.7rem;
  }

  .hide {
    display: block;
  }

  .textChangeContainer {
    display: none;
  }

  .btn-hire,
  .btn-cv {
    padding: 5px 20px 5PX 20PX;
    margin: 8px;
    margin-left: 0px;
  }

  .profile-pic img {
    width: 180px;
    height: 250px;
  }

  .ring {
    position: relative;
    width: 240px;
    height: 280Px;
  }

  .ring i {
    border: 2px solid #0000008a;
  }

  .ring:hover i {
    border: 2.5px solid var(--clr);
  }

  .aboutPic img {
    display: none;
  }

  .aboutContainer {
    width: 100%;

  }

  .about-text p {
    text-align: left;
    font-size: 1rem;
  }

  .dropContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .dropContainer h3 {
    font-size: 1rem;
    text-align: center;
  }

  .aboutBtnContent {
    width: 100%;
    height: 300px;
    border-radius: 50px;
  }

  .aboutBtn {
    width: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .aboutTablink {
    color: black;
    padding: 8px 8px;
    font-size: 15px;
    width: 20%;
  }

  .tabcontent {
    padding: 10px 20px;
  }

  .technologies {
    width: 100%;
    height: 100px;
    margin: 80px 0px;
  }

  .technologies .Ticon {
    font-size: 2.2rem;
  }

  .portfolio {
    max-width: 90%;
  }

  .PortfolioContent {
    flex-wrap: wrap;
  }

  .card {
    width: 300px;
    margin: 20px;
  }

  .card_image img {
    width: 100%;
    height: auto;
  }

  .contact {
    width: 100%;
    height: 754px;
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.4) 20.62%, rgba(0, 0, 0, 0.3) 90.2%);
    opacity: var(--sds-size-stroke-border);

  }

  .contactContainer {
    margin-top: 100px;
  }

  .contactContent {
    width: 100%;
  }


  .form,
  .contactMe {
    width: 400px;
  }

}



@media only screen and (max-width: 768px) {

  .hero {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .intro {
    order: 1;
  }

  .text>.greetings>h1 {
    font-size: 1.5rem;
  }

  .technologies .Ticon {
    font-size: 2rem;
  }

  .card {
    width: 300px;
  }


  .contact {
    margin: auto;
    height: 700px;

  }

  .form,
  .contactMe {
    width: 380px;
    margin: 5px;
  }

  .eMail {
    display: flex;
    justify-content: space-between;
  }

  .phone a,
  .eMail a {
    font-size: 1.1rem;

  }

  .Cicon {
    font-size: 1.3rem;
    margin: 0px;
  }

}


@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }


  .navContainer {
    display: none;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuBtn:hover {
    color: red;
  }


  nav ul {
    list-style: none;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1000;

  }

  nav ul li {
    margin: 20px;
  }




  .hero {
    width: 90%;
  }

  .intro {
    width: 100%;
    margin: auto;
  }

  .text>.greetings {
    width: 100%;
  }

  .about{
    width: 100%;
    margin: 0px;
    margin: auto;
  }

  .aboutContainer {
    width: 100%;
    margin: auto;
    margin-right: 50px;

  }

  .about-text p {
    text-align: center;
  }
  
  .aboutBtnContent {
    height: 300px;
  }

  .aboutBtn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .aboutTablink {
    width: 100%;
  }

  .tabcontent{
    padding: 10px;
  }


td {
    padding: 2px;
    margin-bottom: 5px;

}



  .technologies {
    width: 100%;
    overflow: hidden;
  }

  .techIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    animation: scrollInfinite 5s linear infinite;
  }
  .technologies .hide {
    display: block;
}



  @keyframes scrollInfinite {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-30%);
    }
  }

  .techIcons::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
  }
  
    
  .PortfolioBtnGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-bottom: 10px;
  }


  .PortfolioBtn {
    padding: 8px 10px;
    font-size: 1rem;

}

  .card {
    width: 280px;
    margin: auto;
    margin-bottom: 20px;
  }

  .contact {
    height: 1200px;
   }

  .contactgroups {
    width: 100%;
    flex-direction: column;
   }

  .form,
  .contactMe {
    width: 320px;
    margin: auto;
  }

  .contactMe {
   margin-bottom: 20px;
}

}

@media only screen and (max-width: 375.98px) {
  .form,
  .contactMe {
    width: 300px;
  }

  .contactMe {
    margin-bottom: 20px;
 }
}